.studio__order {
  min-width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background: #161924;
  .studio__avatar {
    border-radius: 50%;
  }
  .studio__info {
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    width: 100%;
    .rate__info {
      display: flex;
      min-width: 100%;
      align-items: center;
      justify-content: space-between;
      .studio__name {
        font-size: 16px;
        color: #fff;
        margin-bottom: 4px;
        width: 60%;
      }
      .rating {
        display: flex;
        align-items: center;
        .rate {
          color: rgb(255, 225, 65);
          margin-right: 5px;
          font-size: 13px;
        }
        .check__rating {
          position: relative;
          width: 13px;
          height: 13px;
          display: flex;
          justify-content: flex-end;
        }
        .check__rating::after,
        .check__rating::before {
          content: "";
          position: absolute;
          height: 1.2px;
          width: 7px;
          
          background: rgb(255, 225, 65);
        }
        .check__rating::after{
            top: 8px;
            rotate: -45deg;
        }
        .check__rating::before{
            rotate: 45deg;
            top: 3px;
        }
      }
    }
    .studio__description {
      color: #ffffff78;
      font-size: 12px;
      margin-top: 4px;
    }
  }
}
