.payment__type {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
  cursor: pointer !important;
  z-index: 53;
  pointer-events: all;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background: #161924;

  &.choosen {
    border: 2px solid #455385;
    transition: 0; // Убираем transition для choosen
  }

  &:hover {
    background: #455385;
    transition: .3s; // Добавляем transition только для hover
  }

  .payment__name {
    margin-left: 10px;
    color: #fff;
  }
}