.needs {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  .completed {
    font-size: 11px;
    margin-right: 5px;
  }
  .needs__title {
    font-size: 11px;
    color: #fff;
    display: flex;
  }
}
