.fourth__stage {
  margin-top: 10px;
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  .left__section {
    width: 50%;
    .card__checker {
      position: relative;
      width: 100%;
      .card__image {
        pointer-events: none;
        right: 10px;
        position: absolute;
        &.visa {
          top: 10px;
        }
        &.mastercard {
          top: 12px;
        }
      }

      .select__bank {
        background: transparent;
        margin-top: 10px;
        height: 40px;
        width: 100%;
        color: #fff;
        border: 2px solid #3b5978;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 20px;
        cursor: pointer;
      }
    }
  }
  .profile__section {
    width: 100%;
  }
  .right__section {
    width: 50%;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    .ofert__text {
      color: #ffffff36;
      font-size: 13px;
      margin-left: 10px;
      line-height: 1.5;
      margin-top: 10px;
      a {
        font-size: 13px;
        margin-left: 10px;
        line-height: 1.5;
        margin-top: 10px;
        color: #ffffff67;
        font-size: 12px;
        text-decoration: underline;
        transition: 0.5s;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
