.withdraw__wrap {
  width: 100%;
  height: fit-content;
  .withdraw__history__title {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 25px;
  }
}
