.rating__description {
  width: 100%;
  height: fit-content;
  .rating__title {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 10px;
  }
  .rating__info {
    margin-top: 5px;
    color: #ffffff8e;
    font-size: 13px;
    line-height: 1.4;
    .bronze {
      color: #cd7f32;
    }
    .silver {
      color: silver;
    }
    .gold {
      color: gold;
    }
    .platinum {
      color: #faf9e4;
    }
    .rubin {
      color: #9f003d;
    }
  }
}
