.user__skill {
  display: flex;
  border-radius: 20px;
  font-size: 13px;

  align-items: center;
  .skill__name {
    color: #fff;
    margin-left: 5px;
  }
  .skill__image {
    border-radius: 50%;
  }
}
