

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  user-select: none;
  font-family: "montserrat";
}

html {
  overflow: auto;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #161924;
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

input:focus {
  outline: none;
}
