.order__info {
  width: 100%;
  margin-top: 20px;
  height: 200px;
  background: #161924;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  section {
    border-right: 4px solid #1f2332;
    border-bottom: 4px solid #1f2332;
    padding: 15px;
    &:last-child {
      border: 0;
    }
    &:nth-child(2) {
      border-right: 0;
    }
    &:nth-child(3) {
      border-bottom: 0;
    }
    .info__title {
      color: #fff;
    }
    .order__name,
    .order__price {
      color: #fff;
      margin-top: 20px;
      font-size: 20px;
    }
    .order__price{
        color: #49b365;;
    }
  }
}
