.cell {
  height: 60px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 2px;
  background: #161924;

  .time{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    
    &.less__faster{
      color: rgb(251, 255, 0);
      font-weight: 800;
    }
    &.faster{
      color: rgb(255, 162, 0);
      font-weight: 800;
    }
    &.more__faster{
      color: rgb(255, 8, 0);
      font-weight: 800;
    }
  }

}
