.constructor__popup__wrap {
  width: 100vw;
  height: 100vh;
  background: #00000054;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  .constructor__popup {
    height: fit-content;
    width: 530px;
    background: #1f2332;
    border-radius: 15px;
    padding: 20px;
    .popup__name {
      color: #fff;
      font-size: 20px;
      letter-spacing: 1px;
    }
    .popup__description {
      color: #ffffffc5;
      font-size: 14px;
      margin-top: 10px;
      letter-spacing: 1px;
    }
    .create__section {
      width: 100%;
      display: flex;
      flex-flow: column;
      margin-top: 20px;
      min-height: 260px;
    }
    .popup__btns{
        display: flex;
        align-items: center;
        height: 40px;
    }
  }
}
