.footer {
  height: 150px;
  width: 100%;
  background: linear-gradient(270deg, #1f2332, #2a3045, #3a4160);
  background-size: 300% 300%;
  margin-top: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  animation: GradientFlow 8s ease infinite;

  .company__info {
    display: flex;
    width: 50%;

    .text__info {

      .company__name,
      .company__description {
        margin-top: 30px;
        color: #ffffffda;
        font-size: 19px;
        letter-spacing: 1px;
      }

      .company__description {
        margin-top: 5px !important;
        font-size: 13px;
        color: #ffffff50;
      }
    }
  }

  .other__data {
    width: 50%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .footer__link {
      color: #ffffff50;
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      justify-content: center;
      cursor: pointer;
      margin-top: 7px;
      transition: .3s;

      &:first-child {
        margin-top: 5px;
      }

      &:hover {
        color: #fff;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
      }
    }
  }
}

@keyframes GradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media(max-width: 764px) {
  .footer {
    .company__info {
      .text__info {
        .company__name {
          font-size: 17px;
          text-wrap: nowrap;
        }
      }
    }

    .other__data {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;


    }
  }
}

@media(max-width: 420px) {
  .footer {
    flex-flow: column;
    height: fit-content;
    padding-right: 0;

    .company__info {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;

      .comapny__logo {
        scale: 1.4;
      }

      .text__info {
        .company__name {
          font-size: 17px;
          text-wrap: nowrap;
        }

        .company__description {
          width: 100%;
          text-align: center;
        }
      }
    }


    .other__data {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center !important;

      .footer__link {
        width: 100%;
        text-align: center;
        align-items: center;
      }

    }
  }
}