.orders {
  .orders__zero__wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .orders__zero {
      height: 150px;
      width: 400px;
      background: #1f2332;
      border-radius: 20px;
      display: flex;
      flex-flow: column;
      padding: 10px;
      align-items: center;
      .zero__title {
        color: #fff;
        font-size: 25px;
      }
      .zero__description{
        color: #ffffff51;
        margin-top: 10px;
      }
    }
  }
}
