.condition__column {
  width: 20%;
  height: 250px;
  display: flex;
  flex-flow: column;
  align-items: center;
  .condition__name {
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    letter-spacing: 1px;
  }
  .condition__image {
    margin-top: 0px;
    min-height: 45px;
    min-width: 45px;
  }
  .conditions {
    .condition__text {
      font-size: 11px;
      margin-top: 10px;
      color: #fff;
      display: flex;
      span{
        margin-right: 5px;
      }
    }
  }
}
