.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    left: 0;
    top: 0;
    z-index: 10;
    transition: .5s;
    pointer-events: none;
}
