.payment__info {
  width: 49%;
  height: fit-content;
  border-radius: 15px;
  background: #1f2332;
  margin-top: 20px;
  height: 90px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  &.withdraws{
    margin-top: 0;
    background:#161924;
  }

  .payment__img {
    &.payment__img__second {
      scale: 1.4;
    }
  }

  .payment__user {
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-top: 20px;
    .payment__deliv {
      color: #fff;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .payment__accept {
      margin-top: 3px;
      color: #ffffff6f;
      font-size: 12px;
      &:last-child {
        margin-top: 10px;
      }
    }
  }
}
