.navigation__wrap {
  color: #fff;
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 60px;
  font-size: 18px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  &:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  &.active {
    background: #63a5de69;
    transition: 0.5s;
  }
}
