.chat__message {
  max-width: 70%;
  width: fit-content;
  min-height: 60px;
  border-radius: 20px;
  background: #1f2332;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: fit-content;
  &:first-child {
    margin-top: 0;
  }
 
  &.user__message {
    display: flex;
    align-self: flex-end;
    flex-flow: row-reverse;
    justify-content: flex-end;
  }
  .message__avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .message__info {
    height: fit-content;
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    width: 100%;
    .message {
      color: #fff;
      font-size: 13px;
    }
  }
}
