.setting {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #1f2332;
  &:last-child {
    border-bottom: 1px solid #1f2332;
  }
  .left__info {
    display: flex;
    align-items: center;
    .setting__ico{
        min-width: 40px;
        border: 1px solid red;
    }
    .text__info {
      min-width: 70%;
      height: 45px;
      margin-left: 10px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      .setting__name{
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
      }
      .setting__param{
        font-size: 13px;
        color: #ffffff64;
        letter-spacing: 1px;
      }
    }
  }
}
