.search__data {
  width: 100%;
  margin-top: 10px;
  display: flex;
  border-radius: 20px;
  background: #1f2332;
  height: 80px;
  padding: 10px;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    scale: 1.01;
  }
  .search__info {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .search__name {
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px;
    }
    .search__type {
      color: #fff;
    }
  }
  .search__id {
    color: #ffffff51;
  }
}
