.popup__wrap {
  width: 100vw;
  height: 100vh;
  background: #00000054;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  transition: 0.3s;
  .portfolio__popup {
    height: fit-content;
    width: 730px;
    background: #1f2332;
    border-radius: 15px;
    padding: 20px;
    transition: 0.3s;
    .popup__name {
      color: #fff;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 700;
    }
    .popup__description {
      color: #ffffff51;
      margin-top: 10px;
    }
  }
}
