.warning__wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 20px;
  padding-right: 20px;
  .warning__popup {
    height: 70px;
    width: 300px;
    background: rgba(255, 0, 0, 0.753);
    border-radius: 20px;
    padding-top: 10px;

    .warning__title {
      color: #fff;
      width: 100%;
      text-align: center;
    }
    .warning__description {
      color: #fff;
      font-size: 13px;
      width: 100%;
      text-align: center;
      margin-top: 5px;
    }
  }
}
