.status__list {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  .order__status {
    color: #fff;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 19px;
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
  .technical__info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    .trackcode,
    .web__version {
      font-size: 12px;
      color: #ffffff5c;
      margin-bottom: 10px;
    }
  }
}
