.status__list {
  display: flex;
  flex-flow: column;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  .order__status{
    color: #fff;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 19px;
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
}
