.account__navigation{
    background: #1f2332;
    min-height: calc(100vh - 35px);
    width: 20%;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    margin-top: 20px;
}