.settings__popup__wrap {
  width: 100vw;
  height: 100vh;
  background: #00000054;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  .settings__popup {
    height: 230px;
    width: 530px;
    background: #1f2332;
    border-radius: 15px;
    padding: 20px;
    .popup__name {
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      width: 100%;
      text-align: center;
    }
    .popup__description {
      color: #ffffff4a;
      font-size: 14px;
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }
    .payment__type {
      margin-top: 10px;
    }
    .email__title {
      color: #fff;
      margin-top: 20px;
    }
  }
  .popup__btns{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
}
