.controll__navigation {
  min-width: 50px;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  height: 200px;
  background: #1f2332;
  .user__nav {
    height: 100%;
    width: 100%;
    .nav__image {
      min-width: 100%;
      min-height: 100%;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 18px;
      &:hover {
        background: #363e5b;
      }
    }
  }
}
