.button {
  cursor: pointer;
  transition: 0.5s;
  &.menu__btn,
  &.check__btn,
  &.payment__btn,
  &.auth__btn {
    height: 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    background: #008ff5;
  }
  &.payment__btn {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    background: #37d177;
    pointer-events: all;
    cursor: pointer;
    transition: 0.3s;
  }
  &.auth__btn {
    width: 40%;
    font-size: 16px;
    transition: 0.5s;
    &:first-child {
      width: 70%;
    }
    &:last-child {
      width: 25%;
      background: transparent;
      border: 2px solid #008ff5;
    }
  }
  &:hover {
    scale: 1.03;
  }
  &.resend__code,
  &.connect__btn,
  &.accept__btn {
    height: 40px;
    width: 250px;
    border-radius: 15px;
    background: #3b5978;
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
  }
  &.connect__btn {
    min-width: 180px;
    margin-top: 0;
  }
  &.setting__btn,
  &.code__btn {
    height: 45px;
    width: 170px;
    border-radius: 15px;
    background: #3b5978;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    flex-flow: row-reverse;
    font-size: 17px;
    color: #fff;
    .image {
      margin-right: 10px;
    }
  }
  &.accept__btn {
    position: absolute;
    top: -2px;
    margin-right: 5px;
    width: 180px;
  }
  &.code__btn {
    width: 49%;
    margin-top: 20px;
    background: #008ff5;
    &:nth-child(1) {
      background: #3b5978;
    }
  }
}
