.advantage {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  &:first-child {
    margin-top: 0 !important;
  }
  .advantage__text {
    color: #ffffffc4;
    margin-left: 10px;
  }
}
