.type {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  margin-top: 10px;
  .type__title {
    color: #fff;
    margin-bottom: 10px;
    &.center {
      font-size: 23px;
      width: 100%;
      text-align: center;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
  .optional__description {
    color: #ffffff36;
  }
}
