.portfolio__stage {
  display: flex;
  .work__params {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    .input__params {
      display: flex;
      flex-flow: column;
      width: 50%;
      position: relative;
      .portfolio__subtitle {
        color: #fff;
        margin-bottom: 20px;
      }
      .stage {
        display: flex;
        height: fit-content;
        justify-content: space-between;
        padding-bottom: 20px;
        .portfolio__req {
          display: flex;
          flex-flow: column;
          align-items: flex-end;
          .req__title {
            color: #fff;
          }
          .req__subtitle {
            color: #ffffff51;
            margin-top: 5px;
            font-size: 12px;
            span{
              color: #fff;
            }
            &:first-child {
              margin-top: 10px;
            }
          }
        }
      }
      &:nth-child(1) {
        width: 100%;
      }
    }

  }
}
