.portfolio__stage {
  display: flex;
  .work__params {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    .input__params {
      display: flex;
      flex-flow: column;
      width: 50%;
      .portfolio__subtitle{
        color: #fff;
        margin-bottom: 20px;
      }
    }
    .stage__banner{
      border: 1px solid red;
    }
  }
}
