.six__stage {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  .six__stage__left,
  .six__stage__right {
    width: 48%;
    height: fit-content;
  }
  .six__stage__right {
    display: flex;
    flex-flow: column;
    .checkbox{
      display: flex;
      position: relative;
      width: 100%;
      .ofert__text {
        color: #ffffff36;
        font-size: 13px;
        margin-left: 10px;
        line-height: 1.5;
        margin-top: 10px;
        a {
          font-size: 13px;
          margin-left: 10px;
          line-height: 1.5;
          margin-top: 10px;
          color: #ffffff67;
          font-size: 12px;
          text-decoration: underline;
          transition: 0.5s;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    
  }
}
