.chat__type {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  border-radius: 20px;
  border: 2px solid #3b5978;
  .type {
    cursor: pointer;
    height: 40px;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13px;
    border-right: 2px solid #3b5978;
    &:last-child {
      border: 0;
    }
    &.choosen {
      background: #3b5978;
      width: 40%;
      transition: 0.3s;
      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}
